.StepButton-d0-0-2-6.completed {
    background-color: rgb(2 105 80) !important;
}
/* .StepButton-d2-0-2-12.active {
    background-color: rgb(2 105 80) !important;
} */
.StepButton-d2-0-2-12.completed {
    background-color: rgb(2 105 80) !important;
}